/* background css credit to https://codepen.io/taylorvowell/pen/BkxbC */
.background {
background: rgb(105,155,200);
background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
position:fixed; 
height:100%; 
width:100%;
overflow: scroll;
}

h1 {
color: #faf6f6;
font-family: arial, sans-serif;
font-size: 40px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
}

h2 {
color: #faf6f6;
font-family: arial, sans-serif;
font-size: 30px;
font-weight: bold;
margin-left: 1em;
margin-top: 0px;
margin-bottom: 1px;
text-align: left;
}

h3 {
margin-left: 1em;
color: #faf6f6;
font-family: arial, sans-serif;
font-size: 25px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: left;
}

#userInput {
margin-left: 2em;
font-family: arial, sans-serif;
font-style: italic;
color: #faf6f6;
width: 20%;
padding: 5px 10px;
border: 2px solid #faf6f6;
border-radius: 5px;
transition: width 0.4s ease-in-out;
}

#userInput:focus {
margin-left: 2em;
font-family: arial, sans-serif;
font-style: italic;
color: #faf6f6;
width: 50%;
padding: 5px 10px;
border: 2px solid #faf6f6;
border-radius: 5px;
background-color: #6495ED;
}

#addBtn {
margin-left: 0.5em;
font-size: 16px;
font-family: arial, sans-serif;
font-weight: bold;
color: #6495ED;
padding: 5px 10px;
border-radius: 12px;
border: 2px solid #6495ED;
background-color: #faf6f6;;
cursor: pointer;
}

#addBtn:hover {
margin-left: 0.5em;
font-size: 16px;
font-family: arial, sans-serif;
font-weight: bold;
color: #faf6f6;
padding: 5px 10px;
border-radius: 12px;
border: 2px solid #6495ED;
background-color: #6495ED;
cursor: pointer;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#display {
padding: 10px;
border: 5px solid #6495ED;
border-radius: 40px;
margin: 1%;
width: 30%;
height: 30%;
font-family: arial, sans-serif;
font-weight: bold;
color: #faf6f6;
} 

#summary {
padding: 10px;
border: 5px solid #6495ED;
border-radius: 40px;
margin: 1%;
width: 30%;
height: 30%;
font-family: arial, sans-serif;
font-weight: bold;
color: #6495ED;
}